[submodule "resource/abbrevs"]
	path = resource/abbrevs
	url = https://github.com/Juris-M/jurism-abbreviations.git
	branch=af5
[submodule "docs"]
	path = docs
	url = https://github.com/Juris-M/abbrevs-filter-docs.git
